.course-container {
  display: flex;
  flex-direction: column;
}

.course-content {
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .course-container {
    flex-direction: row;
  }

  .course-content {
    position: fixed;
    left: 320px;
    top: 50px;
    bottom: 0;
    right: 0;
  }
}
